<!-- Main Section Start -->
<section id="main" class="main-section fullheight-mobile">
  <!-- Logo Block Start -->
  <div class="main-section__logo">
     <img src="" alt="Put your logo here">
  </div>
  <!-- Logo Block End -->
  <!-- Main Section Content Start -->
  <div class="main-section-content fullheight-mobile">
     <div class="container-fluid p-0 fullheight-mobile">
        <div class="row no-gutters fullheight-mobile">
           <!-- Fullscreen Background Start-->
           <div class="fullscreen-bg fullscreen-bg">
              <!-- dark Gradient cover layer -->
              <div class="color-layer color-layer-black"></div>
           </div>
           <!-- Fullscreen Background End-->
           <!-- Main Section Intro Start -->
           <div class="col-12 main-section-intro fullheight">
              <div class="intro-content transparent fullscreen fullheight-mobile">
                 <!-- Headline Start -->
                 <div id="headline" class="headline headline-centered">
                    <h1 class="large no-color"><span>Coming Soon</span></h1>
                    <!-- Countdown Start-->
                    <div class="countdown countdown-full countdown-headline">
                       <div id="countdown-large"></div>
                    </div>
                    <!-- Countdown End-->
                 </div>
                 <!-- Headline End -->
                 <div class="btnholder">
                    <a id="notify-trigger" class="btn btn-light">Notify me</a>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <!-- Main Section Content End -->
</section>
<!-- Notify Popup Start -->
<div class="popup notify">
  <div class="popup-container">
     <!-- Popup Controls Start -->
     <div class="popup-controls">
        <a id="notify-close" class="popup-close"></a>
     </div>
     <!-- Popup Controls End-->
     <!-- Popup Content Start -->
     <div class="popup__content">
        <div class="container-fluid p-0">
           <div class="row no-gutters flex-xl-row-reverse">
              <div class="col-12 col-xl-6">
                 <!-- Popup Content Block Start -->
                 <div class="content-block">
                    <!-- Popup Title Start -->
                    <div class="popup-title">
                       <p class="popup-title-title">Almost <span>Done!</span></p>
                       <p class="popup-title-text small-text">
                          Subscribe to our newsletter and we will send you a notification about
                          the launch of our brand new website.
                       </p>
                    </div>
                    <!-- Popup Title End -->
                    <!-- Form Container Start -->
                    <div class="form-container">
                       <!-- Notify Contact Form Start-->
                       <form class="form notify-form form-dark">
                          <input type="email" placeholder="Email Adress*" required>
                          <span class="inputs-description">*Required fields</span>
                          <button class="btn btn-dark" type="submit">
                          <span class="btn-caption">Subscribe</span>
                          </button>
                       </form>
                       <!-- Notify Contact Form End-->
                    </div>
                    <!-- Form Container End -->
                 </div>
                 <!-- Popup Content Block End -->
              </div>
              <div class="col-12 col-xl-6">
                 <!-- Popup Image Block Start -->
                 <div class="popup-image popup-image"></div>
                 <!-- Popup Image Block End -->
              </div>
           </div>
        </div>
     </div>
     <!-- Popup Content End -->
  </div>
</div>
<!-- Notify Popup End -->